* {
  box-sizing: border-box;
}
:root {
  --primary-color: #1ebfc1;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* common */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp.line-1 {
  --line-clamp: 1;
}
.line-clamp.line-4 {
  --line-clamp: 4;
}
.word-break-all {
  word-break: break-all;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  min-width: 186px;
  line-height: 68px;
  background: #1ebfc1;
  color: #fff;
  border-radius: 14px;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}
.btn:hover {
  opacity: 0.5;
}
.title-heading {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.heading.lv1 {
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
}
.desc.lv1 {
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.77; /* 177.778% */
}

/* heading */
.header {
  background-color: #fff;
}
.header.fixed {
  position: sticky;
  top: -10px;
  z-index: 1;
}
.header .body-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  padding-top: 20px;
}
.header .navbar .list {
  display: flex;
}
.header .list a {
  color: #2f3a3b;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 12px;
  margin-left: 15px;
}
.header .list a:hover {
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}
.header .sign-in {
  color: #494949;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 10px;
  margin-right: 14px;
}
.header .btn-sign-up {
  min-width: 108px;
  line-height: 48px;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
  color: var(--primary-color);
  background-color: transparent;
}

/* Hero */
.hero {
  padding: 50px 0 79px 0;
}
.container-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Left - hero */
.hero .left-hero {
  width: 39.15%;
}

.hero .left-hero .title {
  color: #767e7e;
  font-size: 1.4rem;
  font-weight: 400;
}
.hero .left-hero .heading.lv1 {
  margin-top: 18px;
  font-size: 6.2rem;
  line-height: 1.16; /* 116.129% */
}
.hero .left-hero .desc.lv1 {
  margin-top: 46px;
  width: 374px;
  color: #9da6a5;
}
.hero .left-hero .desc strong {
  white-space: nowrap;
}
.hero .left-hero .combo-start {
  margin-top: 52px;
  display: flex;
  align-items: center;
  gap: 50px;
}
.hero .left-hero .play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
}
.hero .left-hero .play:hover {
  box-shadow: 0px 32px 32px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
/* Right hero */
.hero .right-hero {
  position: relative;
  width: 54.79%;
}
.hero .right-hero img {
  float: right;
  width: 576px;
  height: 631px;
  object-fit: cover;
}
.hero .course {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 25px;
  top: 149px;
  width: 157px;
  height: 75px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero .course img {
  margin-right: 16px;
  width: 36px;
  height: 40px;
}
.hero .course .icon-book {
  position: relative;
}
.hero .course .icon-book::after {
  position: absolute;
  left: 4px;
  bottom: 8px;
  content: "";
  display: inline-block;
  width: 28px;
  height: 4px;
  background-color: #fff;
  border-radius: 999px;
}
.hero .course .desc {
  width: 55px;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
}

.hero .schedules {
  position: absolute;
  left: 0;
  bottom: 46px;
  width: 124px;
  height: 132px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero .schedules .desc {
  margin-top: 16px;
  text-align: center;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
}
.hero .schedules .rows {
  padding: 0 25px;
  margin-top: 16px;
}
.hero .schedules img {
  margin-top: 12px;
  width: 74px;
  height: 6px;
}
.hero .schedules img:first-of-type {
  margin-top: 0;
}
.hero .schedules .last-row {
  margin: 16px 0 0 24px;
  display: inline-block;
  width: 26px;
  height: 6px;
  border-radius: 3px;
  background-color: #edf1f5;
}

.hero .people {
  position: absolute;
  right: 45px;
  bottom: 41px;
  width: 207px;
  height: 90px;
  padding: 17px 35px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero .people .desc {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
}
.hero .avatar {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .avatar img {
  margin-left: -7px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  object-fit: cover;
}
.hero .avatar img:first-of-type {
  margin-left: 0;
}
.hero .avatar .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -7px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}
/* Features */
.features {
  margin: 130px 0;
}
.features .info .heading.lv1 {
  margin: 18px 0;
  width: 577px;
}
.features .info .desc.lv1 {
  width: 590px;
}
.features .items-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  width: 1025px;
}
.features .item .icon {
  width: 102px;
  height: 106px;
}
.features .item .title {
  margin-top: 26px;
  color: #0d1111;
  font-size: 2rem;
  font-weight: 600;
}
.features .item .desc {
  margin-top: 16px;
  color: #9da6a5;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.68; /* 168.75% */
}

.features .item .desc:first-of-type {
  width: 178px;
}
.features .item .desc:nth-of-type(2) {
  width: 223px;
}
.features .item .desc:last-of-type {
  width: 224px;
}

/* Courses */
.courses {
  margin-bottom: 130px;
}
.courses .info .heading.lv1 {
  margin-top: 18px;
}
.courses .info .container-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.courses .info .see-more {
  color: #1ebfc1;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration-line: underline;
}
.courses .info .see-more:hover {
  cursor: pointer;
  opacity: 0.5;
}
.courses .info .desc.lv1 {
  margin-top: 19px;
  width: 525px;
}

.courses .body-courses {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 79px;
}
.courses .item-courses {
  position: relative;
  width: 30.67%;
  height: 517px;
}
.courses .item-courses .poster {
  position: relative;
}
.courses .body-courses .in-img {
  position: absolute;
  width: 100%;
  height: 393px;
  border-radius: 8px;
  opacity: 0.35;
  background: #d0efed;
}
.courses .body-courses img {
  width: 100%;
  height: 393px;
  object-fit: cover;
  border-radius: 8px;
}
.courses .body-courses .detail {
  position: absolute;
  left: 17px;
  bottom: 0px;
  width: 325px;
  height: 195px;
  padding: 18px 0 29px 25px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}
.courses .body-courses .detail:hover {
}
.courses .item-courses .title {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.5;
}
.courses .item-courses .price {
  margin-top: 16px;
  color: #767e7e;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}
.courses .item-courses strong {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
}
.courses .item-courses .desc {
  margin-top: 6px;
  color: #9da6a5;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.33;
}
.courses .item-courses .footer-detail {
  margin-top: 18px;
  display: flex;
  align-items: center;
}
.courses .item-courses .capacity-time {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.courses .item-courses .dot {
  margin-top: 3px;
  margin-right: 10px;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #1ebfc1;
}
/* Countdown */
.countdown {
  padding: 130px 0;
}
.countdown .columns {
  display: flex;
  justify-content: space-between;
  height: 131px;
  width: 862px;
  margin: 0 auto;
}
.countdown .column .number {
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.5;
}
.countdown .column .desc.lv1 {
  margin-top: 11px;
  text-align: center;
}
/* Comments */
.comments {
  padding: 130px 0;
}
.body-comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comments .container-comment {
  width: 35.81%;
}
.comments .run-comments {
  display: flex;
  overflow: hidden;
}
.comments .run-comment {
  width: 100%;
  flex-shrink: 0;
}
.comments .desc {
  margin-top: 27px;
  color: #5d6564;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5; /* 150% */
}
.comments .student-name {
  display: flex;
  align-items: center;
  margin-top: 33px;
  color: #767e7e;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}
.comments .student-name::before {
  content: "";
  display: inline-block;
  margin-right: 5px;
  width: 8px;
  height: 2px;
  background: #070707;
}
.comments .student-name strong {
  color: #070707;
  font-weight: 500;
}
.comments .buttons {
  display: flex;
  align-items: center;
  margin-top: 52px;
  gap: 30px;
}
.comments .btn-action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #2ac9bf;
  border-radius: 50%;
}
.comments .btn-action:hover {
  opacity: 0.5;
}
.comments .avatars {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58.03%;
  height: 481px;
}
.comments .avatar {
  border-radius: 50%;
  object-fit: cover;
}
.comments .avatar.normal {
  width: 78px;
  height: 78px;
}
.comments .avatar.normal.n1 {
  position: absolute;
  left: 0;
  bottom: 145px;
}
.comments .avatar.normal.n2 {
  position: absolute;
  left: 212px;
  bottom: 0;
}
.comments .avatar.normal.n3 {
  position: absolute;
  right: 32px;
  bottom: 39px;
}
.comments .avatar.biggest {
  position: absolute;
  top: 107px;
  right: 171px;
  width: 235px;
  height: 235px;
}
.comments .avatar.big {
  position: absolute;
  right: 0;
  top: 20px;
  width: 110px;
  height: 110px;
}
.comments .avatar.already-big {
  position: absolute;
  top: 0;
  left: 144px;
  width: 92px;
  height: 92px;
}
/* Base */
.base {
  background-color: #def6f5;
}
.base .body-base {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 76px 0 88px 0;
}
.base .info .desc.lv1 {
  margin-top: 18px;
}
.base .btn {
  margin-right: 135px;
}
/* footer */
.footer {
  padding: 130px 0 50px 0;
}
.footer .columns {
  display: flex;
  justify-content: space-between;
}
.footer .column .heading.lv2 {
  color: #2e2e2e;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.33;
}
.footer .column .desc {
  color: #535353;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.77;
}
.footer .list {
  margin-top: 25px;
}
.footer .column li {
  margin-top: 18px;
}
.footer .column li:first-child {
  margin-top: 0;
}
.footer .social {
  display: flex;
  align-items: center;
}
.footer .social img {
  margin-right: 9px;
}
footer .copyright {
  margin-top: 80px;
  text-align: center;
  color: #b0b5b4;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.77;
}
