* {
  box-sizing: border-box;
}
:root {
  --primary-color: #1ebfc1;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* common */
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  min-width: 186px;
  line-height: 68px;
  background: #1ebfc1;
  color: #fff;
  border-radius: 14px;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}
.btn:hover {
  opacity: 0.5;
}

/* heading */
.header.fixed {
  position: sticky;
  top: 25px;
}
.header .body-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 52px;
}
.header .navbar .list {
  display: flex;
}
.header .list a {
  color: #2f3a3b;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 12px;
  margin-left: 15px;
}
.header .list a:hover {
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}
.header .sign-in {
  color: #494949;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 10px;
  margin-right: 14px;
}
.header .btn-sign-up {
  min-width: 108px;
  line-height: 48px;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
  color: var(--primary-color);
  background-color: transparent;
}
